<!-- 2. Creamos el archivo base.html para que desde aquí se rendericen todas las aplicaciones. -->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block titulo %} {% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/estilo.css' %}">
</head>

<body class="h-100 text-center text-white bg-dark">
  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <header class="mb-auto">
    <div>
      <h3 class="float-md-start mb-0">PythonGRAM</h3>
      <nav class="nav nav-masthead justify-content-center float-md-end">
        <!-- Validacion de usuario logueado: -->
        {% if not request.user.is_authenticated %}
          <span class="text-sm" >Ayuda</span>
        {% else %}
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Usuario
              </a>
              <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#"><i class="fas fa-id-card-alt text-primary"></i>&nbsp;Perfil</a></li>
                <li><a class="dropdown-item" href="#"><i class="fas fa-users-cog text-danger"></i>&nbsp;Administración</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#"><i class="fas fa-door-closed text-success"></i>&nbsp;Cerrar Sesión</a></li>
              </ul>
           </li>
        </ul>
        {% endif %}
      </nav>
    </div>
  </header>
</div>
  
    {% block contenido %}
    {% endblock %}

    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/all.min.js' %}"></script>
</body>
</html>